{% extends 'base.html' %}
{% block title %}Pogodynka{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>Welcome</h1>
      </div>

      {%if favourites%}

    <div class="container">

      <div class="row ">

        <div class="col-sm-10">
          <div class="list-group">

            {% for favorite in favourites %}
              <a href="{{ url_for('main.forecast', favorite_id=favorite.id) }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ favorite.name }}</h4>
                <p class="list-group-item-text">Longitude: {{ favorite.longitude }}</p>
                <p class="list-group-item-text">Latitude: {{ favorite.latitude }}</p>
              </a>
            {% endfor %}

          </div>
        </div><!-- /.col-lg-12 -->

        <div class="col-sm-2">
          <div class="list-group">
            {% for favorite in favourites %}
              <a href="{{ url_for('main.delete_favorite', favorite_id=favorite.id) }}" class="list-group-item">
                <h4 class="list-group-item-heading text-center">Delete</h4>
                <p class="list-group-item-text">&#8203</p>
                <p class="list-group-item-text">&#8203</p>
              </a>
            {% endfor %}
          </div>
        </div><!-- /.col-lg-12 -->

      </div>

    </div>
      
    {% endif %}

{% endblock %}